a {
    color: white;
    text-decoration: none;
}

#background {
    background-image: url(../media/forest.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

#content-container {
    /* Alignment stuff */
    
    /* Background stuff */
    border: solid;
    border-color: black;
    border-width: 2px;
    background-color: rgba(0,0,128,0.4);
    
    /* Text stuff */
    color: white;
}

#title {
    font-family: 'Great Vibes', cursive;
    padding: 20px;
    text-align: center;
    font-size: 12vw;
}

#quote-box {
    background: rgba(0,0,0,0.2)
}

#quote {
    font-family: 'EB Garamond', serif;
    padding: 20px;
    text-align: center;
    font-size: 6vw;
}

#author {
    font-family: 'Great Vibes', cursive;
    text-align: center;
    padding-left: 15vw;
    font-size: 7vw;
}



#button-container {
    font-family: 'EB Garamond', serif;
    margin: 10px;
    text-align: center;
}

#who-link {
    font-family: 'EB Garamond', serif;
    text-align: center;
}
